/*
    
                     __  __         _                     _____                     _____      
  ____ _____  ____ _/ /_/ /_  __  _( )_____   _________  / __(_)  _________  ____  / __(_)___ _
 / __ `/ __ \/ __ `/ __/ __ \/ / / /// ___/  / ___/ __ \/ /_/ /  / ___/ __ \/ __ \/ /_/ / __ `/
/ /_/ / /_/ / /_/ / /_/ / / / /_/ / (__  )  / /  / /_/ / __/ /  / /__/ /_/ / / / / __/ / /_/ / 
\__,_/ .___/\__,_/\__/_/ /_/\__, / /____/  /_/   \____/_/ /_/   \___/\____/_/ /_/_/ /_/\__, /  
    /_/                    /____/                                                     /____/   



    Palette switcher via theme.rasi
    Pallete's are imported from rofi/themes

    
*/
@theme "~/.config/rofi/theme.rasi"

configuration {
    modi: "drun,window,filebrowser,run";
    show-icons: true;
    drun-display-format: "{name} [<span size='small'><i>({generic})</i></span>]";
    display-drun: "apps";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    case-sensitive: false;
    
    location: 0;
    kb-element-next: "";
    kb-element-prev: "";
    kb-mode-next: "Tab";
    kb-mode-previous: "ISO_Left_Tab";   /* this is Shift+Tab */
    kb-row-tab: ""; 
}